<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Account Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/REGISTER.CSS">

 
</head>
<body>

    <div class="login-container">
        <h2>Register Account</h2>

        <form action="/Register" method="POST">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <%= locals.message %>
                <input type="text" placeholder="Name" name="Name" required>
            </div>

            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Email" name="Email" required>
            </div>

            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Set Password" name="Password" required>
            </div>

            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirm Password" name="ConfirmPassword" required>
            </div>

            <button type="submit" class="btn register-btn">Register</button>
        </form>

        <div class="google-btn-wrapper">
            <a class="google-btn" href="/auth/google/">
              <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google icon" />
              <span>Sign up with Google</span>
            </a>
          </div>
          
      

      

    </div>

</body>
</html>
